__init__.py
__pycache__

/.idea
/Dockerfile

/Dataset/Corpus/*
!/Dataset/Corpus/.gitkeep
/Dataset/processed/*
!/Dataset/processed/.gitkeep.
/Dataset/raw/*
!/Dataset/raw/.gitkeep

/Code/train.py
/Code/gridSearch
/Code/models/basic_CF.py
/Code/models/MF2.py
/Code/notebooks/.ipynb_checkpoints
/Code/notebooks/*.png
/Code/notebooks/cython_demo.ipynb
/Code/notebooks/demo.ipynb
/Code/notebooks/EDA.ipynb

/Code/train/.ipynb_checkpoints
/Code/train/demo.ipynb

/Code/train/data/train/*
/Code/train/data/test/*
/Code/train/data/valid/*
/Code/train/data/words_by_item/*
/Code/train/data/words_by_user/*

!/Code/train/data/train/.gitkeep
!/Code/train/data/test/.gitkeep
!/Code/train/data/valid/.gitkeep
!/Code/train/data/words_by_item/.gitkeep
!/Code/train/data/words_by_user/.gitkeep

/Code/train/grids/.ipynb_checkpoints
/Code/train/grids/temp/*
/Code/train/grids/demo.ipynb
/Code/train/grids/mf_grid/*
/Code/train/grids/lda_grid/*
/Code/train/grids/deepconn_grid/*
!/Code/train/grids/mf_grid/.gitkeep
!/Code/train/grids/lda_grid/.gitkeep
!/Code/train/grids/deepconn_grid/.gitkeep

